*{
    margin: 0;
    padding: 0;
}

body{
    /*background-image: url(../gm/65257267-à-plat-vue-de-dessus-aérienne-de-terrain-de-basket-en-plein-air-dans-la-forêt[1].webp);*/
    background-color: #090029;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
}

header, footer {
    background-color: white;
    padding: 25px 30px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #525fe9;
  font-size: 1.1em;
}

section{
    padding: 80px;
    width: 80%;
    height: 100%;
    margin: auto;
}

span{
    display: block;
    font-size: 3.1em;
    font-weight: 800;
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
}

p{
    width: 50%;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 600px;
    justify-content: center;
}

.cadre{
    height: 100%;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(35px);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255,0.5);
}

.box{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px;
    justify-content: center;
    align-items:start;
    margin-top: 5px;
    width: 50%;
    margin: auto;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lien-icone {
    margin-left: 30px;
}
  
.lien-icone:hover, .compte a:hover {
    opacity: 0.5;
}

.compte a,nav a {
  margin-left: 30px;
  text-decoration: none;
}

.btn-left a, .btn-right a{
    display: block;
    font-size: 70px;
    background: transparent;
    backdrop-filter: blur(15px);
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 70px;
    text-decoration: none;
}

.btn-left a:hover{
    background: rgba(109, 215, 247,0.8);
}

.btn-right a:hover, .btn-left a:hover{
    box-shadow: 0 0 20px rgba(109, 215, 247,0.8);
}

.btn-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a:active{
    color: #525fe9;
}

a{
    color: #000329;
}